<header class = "headercad">
  <h1 class="index">Cadastro de contato</h1>
</header>
<br>
<form class="formcad" action="/add" method="POST">
  <p>Nome:</p>
  <input type="text" name="nome">
  <p>Telefone:</p>
  <input type="text" name="telefone">
  <p>e-mail:</p>
  <input type="text" name="email">
  <button type="submit">Cadastrar</button>
  <br><br>
</form>

<div class="voltar">
  <br><br>
  <a href="/"><button>Voltar</button></a>
</div>
