<header>

<h1 class="index">Sistema de Cadastro</h1>

</header>
<div class="buttons">
<br><a href="/cadastro"><button>Novo Contato</button></a>
<a href="/all"><button>Ver todos os contatos</button></a>
</div>
<br>

<h3>Buscar um contato:</h3>
<form action="/busca" method="POST">
<p>Digite o nome que deseja buscar:</p>
<input type="text" name="nome">
<button type="submit">Buscar contato</button></a>
</form>
